@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252a2e;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .biografia .fila{
        display: block;
    }
    .biografia.fila .col{
        width: fit-content;
    }

    .canciones .fila{
        display: block;
    }
    .canciones.fila .col{
        width: 100%;
    }
    .canciones .fila .col .barra-skill{
        width: 100%;
    }

    .albums .fila{
        display: block;
    }
    .albums .fila .col {
        width: 90%;
    }
    .albums .fila .derecha{
        margin-left: 20px;
    }

    .concierto .galeria{
        display: block;
        width: 100%;
    }
    .concierto .galeria .imagenes{
        max-width: 100%;
    }
    .concierto .galeria .imagenes img{
        width: 100%;
    }

    .contacto .fila{
        display: block;
    }
    .contacto .fila .col {
        width: 100%;
    }
}